@charset "utf-8";
@use "foundation";
@use "layout/common";
@use "layout/header";
@use "layout/footer";
@use "layout/aside";
@use "pages";

$font-family-ja: "M PLUS Rounded 1c", sans-serif;

html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  line-height: 1.6875;
  font-family: $font-family-ja;
}

h1 {
  font-size: 3.2rem;
  @include foundation.mq(sm) {
    font-size: 2rem;
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.main {
  margin-top: 80px;
  @include foundation.mq(sm) {
    margin-top: 60px;
  }
}

.scroll-top {
  z-index: 102;
  position: fixed;
  right: 20px;
  bottom: 40px;
  display: none;
  width: 52px;
  height: 52px;
  @include foundation.mq(sm) {
    right: 10px;
    bottom: 90px;
  }
}
