@use "../foundation/color";
@use "../foundation/mixin";

/*=====================================================
# aside.php
===================================================== */
#secondary {
  @include mixin.mq(pc) {
    max-width: 300px;
  }
  @include mixin.mq(sm) {
    margin-top: 100px;
  }
}

.side-head {
  border-bottom: 1px solid #888888;
  display: flex;
}
.side-clinic {
  &__img {
    margin-top: 20px;
    img {
      width: 100%;
    }
  }

  &__content-title {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.6rem;
  }

  &__content-text {
    margin-top: 14px;
  }

  &__content-link {
    color: color.$color-main;
    margin-top: 14px;
    display: inline-block;
    position: relative;
    &::after {
      position: absolute;
      content: url(../img/archive-img/arrow.png);
      top: 7%;
      right: -19px;
    }
  }
}

.side-blog-container {
  margin-top: 60px;
}
.side-blog-items {
  margin-top: 20px;
}
.side-blog-item {
  &:not(:first-child) {
    margin-top: 20px;
  }
  &__link {
    display: flex;
  }

  &__img {
    max-width: 120px;
    margin-right: 10px;
    overflow: hidden;
    img {
      width: 100%;
      transition: 0.3s;
      height: 100%;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__tag {
    font-size: 1rem;
    padding: 2px 8px;
    background: color.$color-main;
    border-radius: 20px;
    display: inline-block;
    color: color.$color-background;
  }

  &__title {
    color: color.$color-text;
    font-weight: 600;
  }

  &__time {
    font-size: 1.1rem;
    color: #888888;
  }
}

.side-category-container {
  margin-top: 60px;
}
.side-category-items {
  margin-top: 17px;
  margin-left: 30px;
}
.side-category-item {
  & + & {
    margin-top: 20px;
  }
  position: relative;

  &::before {
    position: absolute;
    content: url(../img/archive-img/icon-arrow-blue.png);
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
  }

  &__link {
    color: color.$color-text;
    font-size: 1.6rem;
    font-weight: 600;
  }
}
.pagination {
  text-align: center;
  margin-top: 100px;
}
.page-before {
  padding: 8px 17px 8px 35px;
  border: 1px solid color.$color-main;
  margin-right: 10px;
  position: relative;
  background: color.$color-main;
  color: color.$color-background;
  display: inline-block;
  @include mixin.mq(tab) {
    margin-right: 5px;
    padding: 4px 13px 4px 25px;
    font-size: 1.2rem;
  }
  @include mixin.mq(sm) {
    font-size: 1.1rem;
    padding: 8px 15px 8px 33px;
    margin-right: 5px;
  }
  &::before {
    position: absolute;
    content: url(../img/archive-img/arrow-circleleft.png);
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    height: 16px;
    @include mixin.mq(tab) {
      left: 5px;
    }
  }
}
.page-numbers {
  padding: 8px 13px;
  border: 1px solid color.$color-main;
  margin-right: 10px;
  color: color.$color-main;

  @include mixin.mq(tab) {
    display: inline-block;
  }
  @include mixin.mq(tab) {
    padding: 4px 13px;
    font-size: 1.2rem;
    margin-right: 5px;
    display: inline-block;
  }
  @include mixin.mq(sm) {
    padding: 7px 11px;
    font-size: 1.1rem;
    margin-right: 5px;
  }
}
.page-after {
  padding: 8px 35px 8px 17px;
  border: 1px solid color.$color-main;
  display: inline-block;
  position: relative;
  background: color.$color-main;
  color: color.$color-background;
  @include mixin.mq(tab) {
    padding: 4px 25px 4px 13px;
    font-size: 1.2rem;
  }
  @include mixin.mq(sm) {
    font-size: 1.1rem;
    padding: 8px 33px 8px 15px;
  }

  &::before {
    position: absolute;
    content: url(../img/archive-img/arrow-circle-right.png);
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    height: 16px;
    @include mixin.mq(tab) {
      right: 5px;
    }
  }
}
