@use "../foundation";

/*=====================================================
# top
===================================================== */
.top {
  width: 90.625%;
  position: relative;
  @include foundation.mq(pc) {
    margin: 0 62px 21px 62px;
    padding-top: 40px;
  }
  @include foundation.mq(tab) {
    margin: 0 31px 10px 31px;
    padding-top: 20px;
  }
  @include foundation.mq(sm) {
    margin: 0 20px;
  }

  &__text-content {
    position: absolute;
    left: 60px;
    bottom: 60px;
    color: foundation.$color-background;
    font-weight: bold;
    letter-spacing: 2.4px;
    z-index: 3;
    @include foundation.mq(sm) {
      font-size: 2rem;
      left: 10px;
      bottom: 114px;
    }
  }
  &__text-content-text1,
  &__text-content-text2 {
    border-bottom: 4px dotted #fff;
  }
}
.page-top-btn {
  position: fixed;
  display: block;
  z-index: 100;
  top: 180px;
  right: 0;
  text-align: center;
  padding: 20px 17px;
  background: foundation.$color-main;
  border-radius: 20px 0 0 20px;
  color: #fff;
  transition: 0.3s ease;
  @include foundation.mq(sm) {
    display: none;
  }
  &:hover {
    background: #0060a0;
  }
}

.top-content {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 40px;
  @include foundation.mq(sm) {
    display: block;
    margin: 0;
  }
  &__right {
    width: 37.266vw;
    transform: translateY(-35px);
    z-index: 150;
    position: relative;

    @include foundation.mq(sm) {
      width: 100%;
      transform: translateY(-78px);
    }
  }
  &__right-calender-img {
    img {
      width: 100%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      border-radius: 20px;
    }
  }

  &__left {
    width: 42.031vw;
    margin-right: auto;
    @include foundation.mq(pc) {
      margin-top: 21px;
    }
    @include foundation.mq(sm) {
      width: 100%;
      margin-top: -38px;
      margin-left: -6px;
    }
  }

  &__left-news {
    width: 100%;
  }

  &__left-news-head {
    display: flex;
    border-bottom: 1px solid #393939;
    padding-left: 13px;
    justify-content: space-between;
  }

  &__left-news-head-title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    span {
      font-size: 1.2rem;
      color: foundation.$color-main;
      margin-left: 12px;
    }
  }
  &__left-info {
    display: flex;
    border-bottom: 1px solid #393939;
    padding: 9px;
    transition: 0.3s ease;
    position: relative;
    &:hover {
      color: foundation.$color-main;
      &::after {
        background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213.4%22%20height%3D%2213.978%22%20viewBox%3D%220%200%2013.4%2013.978%22%3E%3Cg%20transform%3D%22translate(0.7%200.989)%22%3E%3Cpath%20d%3D%22M7.5%2C18h12%22%20transform%3D%22translate(-7.5%20-12)%22%20fill%3D%22none%22%20stroke%3D%22%231391e6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.4%22%2F%3E%3Cpath%20d%3D%22M18%2C7.5l6.606%2C6L18%2C19.5%22%20transform%3D%22translate(-12.606%20-7.5)%22%20fill%3D%22none%22%20stroke%3D%22%231391e6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.4%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
          no-repeat center center/cover;
        right: -5px;
      }
    }
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213.4%22%20height%3D%2213.978%22%20viewBox%3D%220%200%2013.4%2013.978%22%3E%3Cg%20transform%3D%22translate(0.7%200.989)%22%3E%3Cpath%20d%3D%22M7.5%2C18h12%22%20transform%3D%22translate(-7.5%20-12)%22%20fill%3D%22none%22%20stroke%3D%22%23393939%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.4%22%2F%3E%3Cpath%20d%3D%22M18%2C7.5l6.606%2C6L18%2C19.5%22%20transform%3D%22translate(-12.606%20-7.5)%22%20fill%3D%22none%22%20stroke%3D%22%23393939%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.4%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
        no-repeat center center/cover;
      width: 14px;
      height: 14px;
    }
  }
}

.top-news-txt {
  margin-left: 24px;
}

.top-news-more {
  color: #888888;
  border-bottom: 1px solid #888888;
}

/*=====================================================
# swiper 
===================================================== */
.swiper {
  position: relative;
  border-radius: 20px;
  z-index: 1;
  height: 520px;
  width: 100%;
  .swiper-slide {
    width: 100%;
    position: relative;
    &::after {
      background-color: rgba(0, 0, 0, 0.4);
      /* 自由に位置指定 */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: " ";
    }
  }
}

.slide1 {
  background: url(../img/mv-1.png) no-repeat top center/cover;
  @include foundation.mq(sm) {
    background: url(../img/slider-img-sp-1.png) no-repeat center center/cover;
  }
}
.slide2 {
  background: url(../img/mv-2.png) no-repeat top center/cover;
  @include foundation.mq(sm) {
    background: url(../img/slider-img-sp-2.png) no-repeat center center/cover;
  }
}
.slide3 {
  background: url(../img/mv-3.png) no-repeat top center/cover;
  @include foundation.mq(sm) {
    background: url(../img/slider-img-sp-3.png) no-repeat center center/cover;
  }
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  position: absolute;
  left: -29px;
  transform: none;
  bottom: 180px;
  top: auto;
  @include foundation.mq(sm) {
    left: -18px;
    bottom: 230px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-top: 5px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: block;
}
.swiper-button-next {
  width: 48px;
  height: 53px;
  margin-top: -20px;
  background-position: center center;
  background-image: url(../img/arrow-right.png);
  right: -25px;
  top: 41%;
  @include foundation.mq(sm) {
    width: 38px;
    height: 38px;
    right: -14px;
    top: 244px;
    background-size: cover;
  }

  &::after {
    display: none;
  }

  img {
    width: 100%;
  }
}
.swiper-button-prev {
  width: 48px;
  height: 53px;
  margin-top: -20px;
  background-position: center center;
  background-image: url(../img/arrow-left.png);
  left: -23px;
  top: 41%;

  @include foundation.mq(sm) {
    width: 38px;
    height: 38px;
    left: -14px;
    top: 244px;
    background-size: cover;
  }

  &::after {
    display: none;
  }

  img {
    width: 100%;
  }
}
/*=====================================================
# concept
===================================================== */
.concept {
  overflow: hidden;
  @include foundation.mq(sm) {
    margin-top: 100px;
  }
  .util-btn {
    @include foundation.mq(sm) {
      text-align: center;
    }
  }
}
.concept-inner {
  display: flex;
  flex-direction: row-reverse;
  padding: 180px 0 120px 0;
  justify-content: start;
  align-items: center;
  position: relative;
  @include foundation.mq(tab) {
    padding: 90px 0 60px;
  }
  @include foundation.mq(sm) {
    display: block;
    padding: 30px 0 60px;
  }
  &::before {
    position: absolute;
    content: "";
    height: 725px;
    width: 130%;
    top: 7px;
    right: -49%;
    background: url(../img/concept-bg.png) no-repeat top center / contain;
    z-index: -1;
    @include foundation.mq(tab) {
    }
  }
}
.concept-content {
  width: 31.797vw;
  @include foundation.mq(sm) {
    width: 100%;
    padding: 20px 20px 0;
  }
  &__title {
    color: foundation.$color-main;
    font-weight: bold;
    margin-top: 23px;
  }
  &__message {
    margin-top: 4px;
    font-size: 3rem;
    font-weight: bold;
    @include foundation.mq(sm) {
      font-size: 2.1rem;
    }
  }
  &__text {
    margin-top: 31px;
    @include foundation.mq(sm) {
      margin-top: 23px;
    }
  }
}

.concept-img {
  margin-right: 95px;
  @include foundation.mq(tab) {
    margin-right: 50px;
  }
  @include foundation.mq(sm) {
    margin-top: 40px;
    @include foundation.mq(sm) {
      max-width: 333px;
      width: 100%;
    }
  }
}

/*=====================================================
# recommend 
===================================================== */
.recommend {
  padding: 120px 0 140px;
  @include foundation.mq(tab) {
    padding: 60px 0 70px;
    margin: 0 20px;
  }
  @include foundation.mq(sm) {
    margin: 0 20px;
    padding: 40px 0 100px;
  }
}
.recommend-items {
  display: flex;
  margin-top: 60px;
  @include foundation.mq(sm) {
    display: block;
    margin-top: 40px;
  }
}
.recommend-item {
  @include foundation.mq(pc) {
    width: calc(33.3% - 60px * 2 / 3);
  }
  @include foundation.mq(tab) {
    width: calc(33.3% - 60px * 2 / 3);
  }
  @include foundation.mq(sm) {
  }
  & + & {
    @include foundation.mq(pc) {
      margin-left: 60px;
    }
    @include foundation.mq(tab) {
      margin-left: 60px;
    }
    @include foundation.mq(sm) {
      margin-top: 78px;
    }
  }
  &__title {
    text-align: center;
  }
  &__img {
    margin-top: 15px;
    text-align: center;
    img {
      width: 100%;
      @include foundation.mq(sm) {
        width: 82%;
      }
    }
  }

  &__text {
    margin-top: 24px;
    span {
      color: foundation.$color-accent;
    }
    @include foundation.mq(sm) {
      padding: 0 27px;
      margin-top: 21px;
    }
  }
}

/*=====================================================
# announce
===================================================== */
.announce {
  .section-inner {
    @include foundation.mq(tab) {
      margin: 0 20px;
    }
    @include foundation.mq(sm) {
      margin: 0 20px;
    }
  }
}
.announce-bg-top {
  width: 100%;
  height: 15.703vw;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    //height: 201px;
    height: inherit;
    background: url(../img/bg-top.png) no-repeat center center/cover;
  }
}

.announce-bg {
  background: url(../img/announce-bg.png) no-repeat center center/cover;
  padding-bottom: 7.422vw;
  padding-top: 10px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    bottom: 10px;
    left: 45px;
    height: 50px;
    width: 50px;
    background: url(../img/deco-kirakira.png) no-repeat center center/cover;
    @include foundation.mq(sm) {
      bottom: 20px;
      left: 11px;
      height: 38px;
      width: 39px;
    }
  }
  &::after {
    position: absolute;
    content: "";
    bottom: -8px;
    right: 25px;
    height: 120px;
    width: 113px;
    z-index: 40;
    background: url(../img/deco-kirakira-2.png) no-repeat center center/cover;
    @include foundation.mq(sm) {
      bottom: 10px;
      right: 22px;
      height: 62px;
      width: 51px;
    }
  }
  @include foundation.mq(sm) {
    padding: 50px 0 82px;
  }
  @include foundation.mq(sm) {
    padding-top: 35px;
    padding-bottom: 28.422vw;
  }
}
.announce-items {
  display: flex;
  margin-top: 60px;
  @include foundation.mq(tab) {
    margin: 30px 20px;
  }
  @include foundation.mq(sm) {
    display: block;
    margin-top: 40px;
  }
}
.announce-item {
  width: 50%;
  display: block;
  height: 288px;
  color: foundation.$color-background;
  border-radius: 20px;
  position: relative;
  overflow: hidden;

  @include foundation.mq(sm) {
    width: 100%;
    height: 209px;
    &:first-child {
      margin-bottom: 20px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    transition: 0.4s ease-in-out;
  }

  &::after {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    z-index: 0;
  }
  &:hover {
    &::before {
      transform: scale(1.1);
    }
  }

  & + & {
    @include foundation.mq(pc) {
      margin-left: 80px;
    }
    @include foundation.mq(tab) {
      margin-left: 80px;
    }
  }

  &__bg-content {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: relative;
    z-index: 2;
    border-radius: 20px;
    margin: 10px;
    transition: all 0.8s ease;

    &:hover {
      border: solid 2px #fff;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 4;
  }

  &__title {
    font-size: 2.8rem;
    position: relative;
    @include foundation.mq(sm) {
      font-size: 2rem;
    }
    &::after {
      position: absolute;
      content: "";
      border-radius: 20px;
      background: #fff;
      bottom: -16px;
      height: 2px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 40px;
    }
  }

  &__text {
    margin-top: 42px;
    @include foundation.mq(sm) {
      font-size: 1.2rem;
    }
  }
}

.announce-picture1 {
  &::before {
    background: url(../img/medical_1.png) no-repeat center center/cover;
  }
}
.announce-picture2 {
  &::before {
    background: url(../img/medical_2.png) no-repeat center center/cover;
  }
}

.announce-bottom {
  background: foundation.$color-background;
  margin-top: 60px;
  @include foundation.mq(tab) {
    margin: 0 20px;
  }
  @include foundation.mq(sm) {
    margin-top: 10px;
  }
}
.announce-bottom-text {
  padding: 40px;
  font-weight: 600;
  line-height: (28 / 14);
  span {
    color: foundation.$color-accent;
  }
  @include foundation.mq(sm) {
    padding: 20px;
    line-height: 1.7;
  }
}
.announce-bottom-bg {
  position: relative;
  height: 7.8vw;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 7.8vw;
    background-position: top center;
    background: url(../img/announcebg-bottom.png) no-repeat;
    background-size: cover;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*=====================================================
# blog
===================================================== */
.blog {
  padding: 160px 0;
  @include foundation.mq(tab) {
    padding: 80px 0;
    margin: 0 20px;
  }
  @include foundation.mq(sm) {
    margin: 0 20px;
    padding: 102px 0 100px;
  }
  .util-btn {
    text-align: center;
    margin-top: 65px;
    @include foundation.mq(sm) {
      margin-top: 35px;
    }
  }
}
.blog-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 83px;
  @include foundation.mq(sm) {
    display: block;
    margin-top: 50px;
  }
}
.blog-item {
  width: calc(33.3% - 40px * 2 / 3);
  position: relative;
  border-radius: 20px;

  .newMark {
    color: #ffffff; // フォント色
    font-size: 1.2rem; // フォントサイズ
    background: #f35b69; // 背景色
    position: absolute;
    top: -22px;
    left: -10px;
    margin: 0;
    border-radius: 50%;
    padding: 19px 13px;
    z-index: 1;
    font-weight: 600;
    @include foundation.mq(sm) {
      font-size: 1rem;
      padding: 13px 9px;
      top: -15px;
    }
  }

  @include foundation.mq(pc) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    &:not(:nth-child(3n + 1)) {
      margin-left: 40px;
    }
    &:nth-child(n + 4) {
      margin-top: 50px;
    }
  }
  @include foundation.mq(tab) {
    width: calc(50% - 20px / 2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    &:nth-child(even) {
      margin-left: 20px;
    }
    &:nth-child(n + 3) {
      margin-top: 50px;
    }
  }
  @include foundation.mq(sm) {
    width: 100%;
    height: 100px;
    & + & {
      margin-top: 22px;
    }
  }

  &__link {
    color: foundation.$color-text;
    @include foundation.mq(sm) {
      display: flex;
    }
  }
  &__img {
    overflow: hidden;

    @include foundation.mq(pc) {
      border-radius: 20px 20px 0 0;
    }
    @include foundation.mq(sm) {
      width: 400px;
      height: 100px;
    }
    img {
      width: 100%;
      transition: 0.3s;
      height: 100%;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__content {
    padding: 17px 32px 14px;
    position: relative;
    @include foundation.mq(sm) {
      padding: 4px 10px 0;
    }
  }

  &__content--category {
    background: foundation.$color-main;
    display: inline-block;
    color: foundation.$color-background;
    font-size: 1.1rem;
    padding: 6px 12px;
    border-radius: 20px;

    @include foundation.mq(pc) {
      position: absolute;
      top: -23px;
      left: 28px;
    }
    @include foundation.mq(tab) {
      position: absolute;
      top: -12px;
      left: 24px;
    }
    @include foundation.mq(sm) {
      padding: 0 6px;
      font-size: 0.8rem;
    }
  }

  &__content--text {
    font-weight: bold;
    &:hover {
      color: foundation.$color-main;
    }
    @include foundation.mq(sm) {
      line-height: 0.8;
    }
  }
}
.blob-btn {
  margin-top: 35px;
}
